.mySlides {
    display: none
}


/* Contenedor de las diapositivas */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
        
/* Botones de siguiente y anterior */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
        
/* Posicionar el boton siguiente a la derecha */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
        
/* Efecto al pasar cursor arriba del siguiente y anterior */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
        
/* Subtitutlos de la imagen */
.text {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
        
/* Contador de imagenes */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
        
/* Indicador */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
        
.active, .dot:hover {
    background-color: #717171;
}
        
/* Animacion de desaparecer */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
        
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
        
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
        
/* responsive moviles */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

::selection {
    background-color: #D1D5DB;
}

/*video responsive*/
.video-responsivo {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}
.video-responsivo iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}

/*Dark mode*/
.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after {
    content: "";
    display: block;
    width: 35px;
    height: 36px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}


.order {
    width: 35px;
    height: 35px;
    line-height: 36px;
    display: block;
    background: none;
    color: #fff;
}

.active {
    background : orange;
    color: #000;
}

.active::after {
    right: 0;
    left: unset;
}

.normal {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
    margin: auto;
    transition: .3s ease all;
}

.dark {
    --tw-bg-opacity: 1;
    background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(243, 244, 246, var(--tw-text-opacity));
    transition: .3s ease all;
}

.normalNav {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.darkNav {
    --tw-text-opacity: 1;
    color: rgba(229, 231, 235, var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

.normalFooter {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.darkFooter {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(229, 231, 235, var(--tw-text-opacity));
}

.normallogo {
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity));
}

.darkLogo {
    --tw-text-opacity: 1;
    color: rgba(229, 231, 235, var(--tw-text-opacity));
}

.normalBorder {
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}

.darkBorder {
    --tw-border-opacity: 1;
    border-color: rgba(31, 41, 55, var(--tw-border-opacity));
}

/*Mensaje sobre uso*/

.aviso {
    cursor: pointer;
}

.avisoON{
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.table td {
    color: black;
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    padding: 25px;
}